body { 
	background: #f9f9f9;
	font-family: Helvetica;
	font-size: 11px;
} 

.wn_datepicker {
}

.wn_datepicker_header {
	padding: 20px 0;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
}

.wn_datepicker > ul,
.wn_datepicker ul li {
	margin: 0px;
	padding: 0px;
}
.wn_datepicker li {
	display: inline-block;
	width: 14.28%;
	height: 32px;
	text-align: center;
	line-height: 32px;
}
.wn_datepicker li.select {
	background: #c00;
	color: #fff;
}
.wn_datepicker li.empty {
	background: #ccc;
}
































